:root {
    --green: #275942;
    --green-hover: #234032; /* use only for buttons */
    --green-focus: #47896B; /* use only for buttons */
    --beige: #E5C7B1;
    --white: #FFFFFF;
    --white-background: #F2F2F2;
    --black: #333333;
    --grey: #AAAAAA;
    --light-grey: #E4E4E7;
    --drop-shadow: #00000040;
    --box-shadow: 1px 2px 3px 0 var(--drop-shadow);
    --font-family: "new-frank", sans-serif;
    --font-size-body: 14px;
    --font-weight-body: 300;
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: calc(100% - 40px);
    z-index: 1;
    display: flex;
    align-items: center; /* Vertically align contents */
    margin: 15px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;  
    justify-content: space-between;
}

.logo img {
    height: 30px;
}
.menu img {
    height: 43px;
}

.header-left {
    display: flex;
    align-items: center; /* Vertically align contents */
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.logo {
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: right;
    justify-content: center;
    align-items: center;
}

.user-icon {
    cursor: pointer;
}

.main-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--white);
    /* min-width: 120px; */
    box-shadow: var(--box-shadow);
    list-style-type: none;
    border-radius: var(--border-radius);
}

.main-menu li {
    display: block;
    text-align: center;
    border-radius: var(--border-radius);
}

.main-menu li:hover {
    background-color: var(--green);
}
  
.main-menu a {
   display: block;
   text-decoration: none;
}

.main-menu a:hover {
    color: var(--white);
}

.main-menu a,
.content-field {
    padding: 20px 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.green-background {
    background-color: var(--green);
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beige-background {
    background-color: var(--beige);
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--white-background);
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight-body);
    font-style: normal;
    font-size: var(--font-size-body);
}

.body-padding {
    margin: 0;
    padding: 0px 20px 0px 20px;
}

a {
    color: var(--black);
    text-decoration: underline;
    font-weight: 400;
  }
  
  a:hover {
    color: var(--black);
  }

.content-frame {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-frame-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 360px; Set a fixed width */
    width: calc(clamp(2.25rem, 0.0347rem + 3.2222vw, 4.0625rem)*10);
}

.content-home-green {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vw;
    /* width: 360px; Set a fixed width */
    /* width: calc(clamp(2.25rem, 0.0347rem + 3.2222vw, 4.0625rem)*10); */
}

.content-home-beige {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    /* width: 360px; Set a fixed width */
    /* width: calc(clamp(2.25rem, 0.0347rem + 3.2222vw, 4.0625rem)*10); */
}

/* .content-home-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
} */

.content-field {
    background-color: var(--white);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 15px 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--light-grey);
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--black);
    resize: none;
}

.content-field::placeholder {
    color: var(--grey);
    /* font-style: italic; */
}

.content-field:focus {
    outline: none;
}

.content-field-big {
    min-height: 80px;
    resize: vertical;
}
textarea {
    max-height: auto;
}

/* it is becoming lable */
.content-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 2px 0;
    padding: 0 20px;
    color: var(--black)
}

.content-label {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 2px 0;
    padding: 0 20px;
    color: var(--black);
    font-style: italic;
}

.content-text {
    width: 100%;
    margin: 0 0 2px 0;
    padding: 0 20px;
    color: var(--black);
    font-style: italic;
}

.content-textfield {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0px 0 15px 0;
    align-items: center;
}

.btn {
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 20px; /* Button padding (top/bottom, left/right) */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
    width: 100%;
    color: var(--white);
    background-color: var(--green);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: 500;
    letter-spacing: 0.3px;
    border: 1px solid var(--green);
  }
  
  .btn:hover,
  button:hover,
  input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--green-focus);
    border-color: var(--green-focus);
  }
  
  .btn-light {
    color: var(--green);
    background-color: var(--white);
    border-color: var(--light-grey);
  }
  
  .btn-light:hover {
    color: var(--white);
    background-color: var(--green-focus);
    border-color: var(--green-focus);
  }

  a,
  .main-menu li,
  .btn,
  button,
  .select-items div,
  input[type="submit"] {
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
}

h1 {
    color: var(--green);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 15px 0;
    text-align: center;
}

.quote {
    color: var(--beige);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 15px 0;
    text-align: left;
}

.spacer-bottom {
    height: 25px;
}

select {
    border: none;
  }

 select:focus {
    outline: none;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
}
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--green) transparent;
    top: 7px;
}
  
  /* style the items (options), including the selected item: */
  .select-items div {
    padding: 20px 20px;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-weight: var(--font-weight-body);
 }
  
 .select-selected {
    cursor: pointer;
 }
  
 /* Style items (options): */
 .select-items {
    position: absolute;
    margin-top: 5px;
    background-color: var(--white);
    color: var(--green);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
 }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: var(--green);
    color: var(--white);
    /* here i have to play with the background :) */
  }

.message-to-user {
    font-weight: 500;
    /* text-align: center; */
}

.more-margin-top {
    margin-top: 10px;
}




/* .footer-home {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    align-items: end;
    background-color: transparent;

    position: fixed;
    width: calc(100% - 40px);
    z-index: 11;
    display: flex;
    align-items: center; /* Vertically align contents
    margin: 15px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;  
    justify-content: space-between;
} */


/* Add styles for mobile */
@media (max-width: 1199px) {
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    .green-background {
        width: 100%;
        order: 2;
        height: 30vh;
    }
    
    .beige-background {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 70vh;
        background-color: var(--white-background);
    }
    .content-home-beige {
        /* margin-top: 5vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* width: 360px; Set a fixed width */
        width: 360px;
        padding: 0;
    }
    .quote {
        text-align: center;
    }
    .body {
        background-color: var(--white-background);
    }
}