:root {
    --green: #275942;
    --green-hover: #234032; /* use only for buttons */
    --green-focus: #47896B; /* use only for buttons */
    --beige: #E5C7B1;
    --white: #FFFFFF;
    --white-background: #F2F2F2;
    --black: #333333;
    --grey: #AAAAAA;
    --light-grey: #E4E4E7;
    --drop-shadow: #00000040;
    --box-shadow: 0 4px 4px 0 var(--drop-shadow);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: calc(100% - 40px);
    z-index: 1;
    display: flex;
    align-items: center; /* Vertically align contents */
    margin: 15px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;  
    justify-content: space-between;
}

.logo img,
.menu img
 {
    height: 30px;
}

.header-left {
    display: flex;
    align-items: center; /* Vertically align contents */
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.logo {
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: right;
    justify-content: center;
    align-items: center;
}

.user-icon {
    cursor: pointer;
}

.main-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--white);
    min-width: 120px;
    box-shadow: var(--box-shadow);
    list-style-type: none;
}

.main-menu li {
    display: block;
  }
  
  .main-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }
  

body {
    background-color: var(--white-background);
    margin: 0;
    padding: 0px 20px 0px 20px;
    font-family: "new-frank", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.content_frame {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 360px; Set a fixed width */
    width: calc(clamp(2.25rem, 0.0347rem + 3.2222vw, 4.0625rem)*10);
}

.content_field {
    background-color: var(--white);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 15px 0;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--light-grey);
}

.content_field_big {
    min-height: 80px;
}

.content_description {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 2px 0;
    padding: 0 20px;
    color: var(--black)
}

.content_row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    margin: 5px 0 20px 0;
}

/* Style the button on hover and active states */
.custom-button:hover {
    background-color: #2980b9; /* Darker background on hover */
}

.custom-button:active {
    background-color: #1c638f; /* Even darker background on click */
}

.btn {
    padding: 10px 20px; /* Button padding (top/bottom, left/right) */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
    width: 100%;
    color: var(--white);
    background-color: var(--green);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    letter-spacing: 0.3px;
    border: 1px solid var(--green);
  }
  
  .btn:hover,
  button:hover,
  input[type="submit"]:hover {
    color: var(--green);
    background-color: var(--white);
    border-color: var(--light-grey);
  }
  
  .btn-light {
    color: var(--green);
    background-color: var(--white);
    border-color: var(--light-grey);
  }
  
  .btn-light:hover {
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);
  }

  a,
  .btn,
  button,
  input[type="submit"] {
    -webkit-transition: .2s all ease;
    transition: .2s all ease;
  }

  h1 {
    color: var(--green);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 15px 0;
    text-align: center;
  }