:root {
    --green: #275942;
    --green-hover: #234032; /* use only for buttons */
    --green-focus: #47896B; /* use only for buttons */
    --beige: #E5C7B1;
    --white: #FFFFFF;
    --white-background: #F2F2F2;
    --black: #333333;
    --grey: #AAAAAA;
    --light-grey: #E4E4E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* position: fixed; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align contents */
    padding: 15px 0; /* Top and bottom padding */
}

.logo img,
.menu img {
    height: 50px;
}

.header-left {
    display: flex;
    align-items: center; /* Vertically align contents */
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.menu {
    text-align: right;
}

body {
    background-color: var(--white-background);
    padding: 0px 20px 0px 20px;
}

.content_frame {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px; /* Set a fixed width */
}